.header_img{
    width: 300px;
}
img{
    width: 100%;
}
header ul{
    display: flex;
    flex-wrap: wrap;
    padding: 15px 0;
    padding-left: 20px;
    background-color: black;
    color: white;
}
header li{
    list-style: none;
    margin-right: 60px;
}
main{
    display: flex;
    gap: 5%;
}
main h1{
    border-bottom: 1px solid black;
    border-left: 3px solid black;
}
.left{
    width: 60%;

}
.box{
    background-color: lightgrey;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 10px 0;
}
.box-img{
    width: 22%;
}
.box_text{
    text-align: center;
    font-size: 12px;
}
.right{
    margin-top: 13px;
}
.right h2{
    border-bottom: 1px solid black;
}
.right p{
   padding-left:15px; 
}
footer ul{
    display: flex;
    justify-content: center;
    padding: 15px 0;
    background-color: black;
    color: white;
}
footer li{
    list-style: none;
    margin-right: 60px;
}